@use "../config/variables" as *;

.projects{

    position: relative;
    overflow: hidden;

    background-image: url("/src/assets/images/ligne-verte.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__deco {
        position: absolute;

        font-family: $font-primary;
        font-size: $font-size-9xl;
        color: $color-secondary;

        margin: 0;
        z-index: 3;

        pointer-events: none;
        }

        &__deco--pro {
        top: 4rem;
        left: 8rem;
        }

        &__deco--jets {
        bottom: 11rem;
        right: 8rem;
    }

    &__carousel {
            display: flex;
            align-items: center;
            justify-content: space-between;

            width: 100%;
            padding: 0 $spacing-xl;
            padding-top: $spacing-4xl;
            padding-bottom: $spacing-4xl;
    }

    &__images {
        position: relative;

        width: 62rem;
        height: 23.5rem;
        }

    &__image {
        position: absolute;

        top: 50%;
        left: 50%;

        width: 25rem;
        height: 18.75rem;

        transform: translate(-50%, -50%);

        filter: grayscale(100%);

        cursor: pointer;

        &:hover {
            filter: grayscale(0%) !important;
        }
    }

    &__arrow {
        width: 3rem;
        height: 6rem;

        background: none;
        border: none;
        cursor: pointer;
        position: relative;

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 50%;

            width: 2px;
            height: 2.9rem;

            background-color: $color-secondary;
            transform-origin: center;
        }
    }

    &__arrow--left {

        &::before {
            top: 0.25rem;
            transform: translateX(-50%) rotate(20deg);
        }

        &::after {
            bottom: 0.25rem;
            transform: translateX(-50%) rotate(-20deg);
        }
    }

    &__arrow--right {

        transform: translateX(-2rem);

        &::before {
            top: 0.25rem;
            transform: translateX(-50%) rotate(-25deg);
        }

        &::after {
            bottom: 0.25rem;
            transform: translateX(-50%) rotate(25deg);
        }
    }

    &__title {
        position: relative;

        font-family: $font-secondary;
        font-size: $font-size-6xl;
        color: $color-primary;

        margin: 0;
        margin-bottom: $spacing-3xl;
        margin-left: $spacing-7xl;

        z-index: 4;
    }
}
