@use "../config/variables" as *;

.souffle {
    position: relative;
    overflow: hidden;
    padding-top: $spacing-5xl;

    &__glass {
        position: absolute;
        z-index: 5;

        filter: url("#glass-distortion");

        background: rgba(255, 255, 255, 0.08);

        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);

        pointer-events: none;
    }


    &__glass--one {
        width: 30rem;
        height: 30rem;

        top: 45rem;
        right: -5rem;

        border-radius: 58% 42% 65% 35% / 45% 60% 40% 55%;

        transform: rotate(-25deg);
    }


    &__glass--two {
        width: 30rem;
        height: 30rem;

        top: 30rem;
        left: -5rem;

        border-radius: 40% 60% 45% 55% / 55% 40% 60% 45%;

        transform: rotate(20deg);
    }

    .souffle__title {
        font-family: $font-primary;
        font-size: $font-size-10xl;
        color: $color-secondary;

        margin-bottom: $spacing-3xl;
        margin-left: $spacing-6xl;
    }

    .souffle__content {
        margin-left: $spacing-6xl;
        display: flex;
        flex-direction: row;
        margin-bottom: $spacing-6xl;

        .souffle__soustitle {
            font-family: $font-primary;
            font-size: $font-size-6xl;
            color: $color-secondary;

            margin: 0 0 $spacing-lg;
        }

        .souffle__paragraphe {
            font-family: $font-secondary;
            font-size: $font-size-2xl;
            color: $color-text;

            margin: 0;
            margin-bottom: $spacing-lg;
        }
    }

    .souffle__image {
        width: 200%;
        margin-right: $spacing-4xl;
        margin-top: -22rem;

        .souffle__image--souffle {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}