@use "../config/variables" as v;

//body

body {
  font-family: v.$font-primary;
  font-size: v.$font-size-base;
  font-weight: v.$font-weight-normal;
  color: v.$color-text;
  background-color: v.$color-background;
}

//paragraphes

p {
  font-family: v.$font-primary;
  font-size: v.$font-size-base;
  font-weight: v.$font-weight-normal;
  color: v.$color-text;
}

.bande-deco {
  width: 100%;
}