@use "../config/variables" as *;

//body

body {
  font-family: $font-primary;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  color: $color-text;
  background-color: $color-background;
  margin: 0%;
}

//paragraphes

p {
  font-family: $font-primary;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  color: $color-text;
}

.bande-deco {
  width: 100%;
}