@use "../config/variables" as *;

@font-face {
  font-family: "Arista";
  src: url("../../assets/fonts/Arista2.0Alternate.ttf") format("truetype");
}

@font-face {
  font-family: "Brisound";
  src: url("../../assets/fonts/BrisoundRegular-vnl89.otf") format("opentype");
}

// Titres

h1 {
  font-size: $font-size-10xl;
  font-family: $font-secondary;
  color: $color-primary;
}

h2 {
  font-size: $font-size-9xl;
  font-family: $font-primary;
  color: $color-secondary;
}

h3 {
  font-size: $font-size-3xl;
}

h4 {
  font-size: $font-size-2xl;
}

h5 {
  font-size: $font-size-xl;
}

h6 {
  font-size: $font-size-lg;
}

// Paragraphes

p {
  font-size: $font-size-base;
}

// Petit texte

small {
  font-size: $font-size-sm;
}