@use "../config/variables" as *;

@font-face {
  font-family: "Arista";
  src: url("../../assets/fonts/Arista2.0Alternate.ttf") format("truetype");
}

@font-face {
  font-family: "Brisound";
  src: url("../../assets/fonts/BrisoundRegular-vnl89.otf") format("opentype");
}

// Paragraphes

p {
  font-size: $font-size-base;
  color: $color-text;
}

// Petit texte

small {
  font-size: $font-size-sm;
}